<!DOCTYPE html>
<html>
<head>
  <title>Smurfy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
    <%= stylesheet_link_tag "main", :media => "all" %>

</head>
<body>

<p>H</p>

<%= yield %>

</body>
</html>
